* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #0C0B0C;
    justify-content: center;
    align-items: center;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.55em;
    color: #FBFBFB;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

/* Estilo para o botão de compartilhar */
