{% extends 'base.html' %}

{% block title %} LUPME {% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/thought.css')}}">
{% endblock style %}

{% block header %}
<nav class="navbar">
    <div class="navbar-logo">
        <a href="{{ url_for('feed') }}">
            <img src="{{ url_for('static', filename='src/logo.png') }}" alt="Logo">
        </a>
    </div>
    <div class="navbar-links">
        <a href="{{ url_for('feed') }}" class="nav-link"> 
            <i class="bi bi-house-door-fill"></i> Home
        </a>
        <a href="{{ url_for('get_user_thoughts', user_id=user_id) }}" class="nav-link">
            <i class="bi bi-person-fill"></i> Profile
        </a>
    </div>
</nav>

<div>
    
</div>
{% endblock header %}

{% block main %}
<section class="content-main">
    <div class="content-lupme">
        <div class="thought-input">
            <form class="form-thought" id="thoughtForm">
                <div class="author-info">
                    <div class="logo-container">
                        <img src="{{ url_for('static', filename='src/logo.png') }}" alt="Foto do Autor">
                    </div>
                </div>
                <div class="main-form">
                    <div id="thought" class="editable" contenteditable="true" required></div>
                    <div class="inputs-post">
                        <div class="char-counter"></div>
                        <input type="submit" id="postButton" value="Post">
                    </div>
                </div>
            </form>
        </div>
        
        <div class="thought-main">
            {% for thought in thoughts %}
            <div class="thought-container" thought-id="{{ thought.id }}">
                <div class="card-thought">
                    <div class="thought-header">
                        <a class="thought-header" href="{{ url_for('get_user_thoughts', user_id=thought.author.id) }}">
                            <div class="author-profile">
                                <div class="logo-container">
                                    <img src="{{ url_for('visualiza_imagem', id=thought.author_id) }}" alt="Foto do Autor">
                                </div>
                            </div>
                            <div class="author-info">
                                <p>{{ thought.author.username }}</p>
                                <span class="post-time">{{ thought.time_since_posted() }}</span>
                            </div>
                        </a>
                    </div>
            
                    <div class="thought-content">
                        <span>{{ thought.text }}</span>
                    </div>
            
                    <div class="thought-footer">
                        <div class="action-buttons">
                            <button class="like-button">
                                {% if thought.user_liked(user_id) %}
                                    <i class="bi bi-heart-fill"></i>
                                {% else %}
                                    <i class="bi bi-heart"></i>
                                {% endif %}
                                <span>{{ thought.likes_count }}</span>
                            </button>
                            <!--
                            <button class="share-button">
                                <i class="bi bi-share"></i>
                                <span>{{ thought.shares_count }}</span>
                            </button>
                            -->
                        </div>
                    </div>    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="content-stats">
    <div class="search-container">
        <form action="{{ url_for('search') }}" method="GET">
            <label class="search-icon" for="search-input">
                <i class="fa fa-search"></i>
            </label>
            <input type="text" class="search-input" id="search-input" name="query" placeholder="Search"/>
        </form>
    </div>
</section>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/input-thought.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% endblock scripts %}

{% endblock main %}
