{% extends 'index.html' %}

{% block title %} LUPME {% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock style %}

{% block content %}
<div class="content-lupme">
    {% if users %}
        {% for user in users %}
        <a class="user-container" href="{{ url_for('get_user_thoughts', user_id=user.id) }}">
            <div class="user-container" thought-id="{{ user.id }}">
                <div class="author-profile">
                    <div class="logo-container">
                        <img src="{{ url_for('visualiza_imagem', id=user.id) }}" alt="Foto do Autor">
                    </div>
                </div>
                <div class="author-info">
                    <p>{{ user.username }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    {% endif %}

    {% if thoughts %}
    <div class="thought-main">
        {% for thought in thoughts %}
        <div class="thought-container" thought-id="{{ thought.id }}">
            <div class="card-thought">
                <div class="thought-header">
                    <a class="thought-header" href="{{ url_for('get_user_thoughts', user_id=thought.author.id) }}">
                        <div class="author-profile">
                            <div class="logo-container">
                                <img src="{{ url_for('visualiza_imagem', id=thought.author_id) }}" alt="Foto do Autor">
                            </div>
                        </div>
                        <div class="author-info">
                            <p>{{ thought.author.username }}</p>
                            <span class="post-time">{{ thought.time_since_posted() }}</span>
                        </div>
                    </a>
                </div>
        
                <div class="thought-content">
                    <span>{{ thought.text }}</span>
                </div>
        
                <div class="thought-footer">
                    <div class="action-buttons">
                        <button class="like-button">
                            {% if thought.user_liked(user.id) %}
                                <i class="bi bi-heart-fill"></i>
                            {% else %}
                                <i class="bi bi-heart"></i>
                            {% endif %}
                            <span>{{ thought.likes_count }}</span>
                        </button>
                        <!--
                        <button class="share-button">
                            <i class="bi bi-share"></i>
                            <span>{{ thought.shares_count }}</span>
                        </button>
                        -->
                    </div>
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if not users and not thoughts %}
    <div class="not-search">
        <h5>Nenhum resultado para "{{ query }}".</h5>
        <p>Tente pesquisar outra coisa.</p>
    </div>
    {% endif %}
</div>

{% block scripts %}
{{ super() }}
{% endblock scripts %}

{% endblock content %}
